/* src/components/StudentDataFetcher.css */
.student-data {
    max-width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .loader {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    font-size: 18px;
  }
  
  .error {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    color: red;
    font-size: 18px;
  }
  